@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.cdnfonts.com/css/free-notulen-serif-display');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mark-pro');
@import url('https://fonts.cdnfonts.com/css/circular-std-book');

html,
body {
  text-rendering: optimizeLegibility;
  font-family: Sen, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}



@font-face {
  font-family: 'D-DIN Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/D-DIN.woff') format('woff');
}



@font-face {
  font-family: 'D-DIN Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/D-DINCondensed.woff') format('woff');
}


@font-face {
  font-family: 'D-DIN Exp Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/D-DINExp.woff') format('woff');
}


/* @font-face {
  font-family: 'D-DIN Exp DINExp-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN Exp DINExp-Italic'), url('D-DINExp-Italic.woff') format('woff');
  } */


@font-face {
  font-family: 'D-DIN Condensed DINCondensed-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/D-DINCondensed-Bold.woff') format('woff');
}


/* @font-face {
  font-family: 'D-DIN Exp DINExp-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN Exp DINExp-Bold'), url('D-DINExp-Bold.woff') format('woff');
  } */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  /* background-color: #050810; */
  background-color: #10101a;
  overflow-x: hidden;
}

nav {
  font-family: 'D-DIN Condensed', sans-serif;
}

/* .menu {
  background: rgba(42,43,56,.5);
} */

.header-container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6rem)) 1fr;
  position: relative;
}

.header-container::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2038px;
  left: 166px;
  width: 12rem;
  height: 15rem;
  background-image: url(./image/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background: linear-gradient(-45deg, blue, purple, blue, purple);
  background-clip: ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite; */
}

@media (min-width: 640px) {
  .header-container::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1788px;
    left: 166px;
    width: 12rem;
    height: 15rem;
    background-image: url(./image/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background: linear-gradient(-45deg, blue, purple, blue, purple);
    background-clip: ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite; */
  }
}



@media (min-width: 768px) {
  .header-container::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1620px;
    left: 166px;
    width: 12rem;
    height: 15rem;
    background-image: url(./image/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background: linear-gradient(-45deg, blue, purple, blue, purple);
    background-clip: ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite; */
  }
}



.header-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -290px;
  right: 166px;
  width: 12rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./image/circle.png);
  z-index: -1;
}

.header {
  grid-column: 2/14;
  padding: 0 6rem;
  margin-top: 150px;
}

.hero-header-heading,
.details-header-heading {
  color: #f3f3f3;
  /* font-family: 'Mark Pro', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-size: 3rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.01em; */
  position: relative;
}

.hero-header-subheading {
  margin-top: 16px;
  /* font-family: 'D-DIN Condensed',sans-serif; */
  /* font-family: 'D-DIN Regular'; */
  /* font-family: 'D-DIN Condensed DINCondensed-Bold'; */
  /* font-family: 'D-DIN Exp Regular'; */
  text-transform: lowercase;
  font-size: 16.704px;
  /* letter-spacing: 3.17376px; */
  /* font-weight: 500; */
  color: #9ca3af;
  /* max-width: 50%; */
}

.cta-container {
  margin-top: 96px;
}

.header-cta {
  color: #d1d5db;
  /* padding: 1rem 3rem; */
  font-family: 'Mark Pro', sans-serif;
  /* background-color: #2dd4bf; */
  border-radius: 30px;
}

main.indexPage {
  margin-top: 350px;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6rem)) 1fr;
}

main.project-details {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6rem)) 1fr;
}

.about-container,
.project-container,
.other-project-container,
.contact-container,
.socials-container,
.details-container {
  grid-column: 2/14;
  padding: 0 6rem;
}

.contact-container {
  border-top: 1px solid #7c7d7f;
}

.about-text,
.details-text {
  color: #d1d5db;
}

.about-header {
  font-size: 16.704px;
  text-transform: uppercase;
  /* letter-spacing: 3.17376px; */
  font-weight: 500;
  margin-bottom: 20px;
  color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  /* max-width: 50%; */
  /* font-family: 'Circular Std Book', sans-serif; */
  font-size: 15.766px;
  font-stretch: ultra-condensed;
  line-height: 20.5088px;
}

/* .skill-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -335px;
  left: -250px;
  width: 12rem;
  height: 15rem;
  background-image: url(./image/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.skill-header {
  font-size: 16.704px;
  text-transform: uppercase;
  /* letter-spacing: 3.17376px; */
  font-weight: 500;
  margin-bottom: 64px;
  color: #f3f3f3;
  /* text-align: end; */
  /* background-image: -webkit-gradient(linear,left top,right top,from(#b0f3f1),to(#ffcfdf));
    background-image: -webkit-linear-gradient(left,#b0f3f1,#ffcfdf);
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.text-gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-grid {
  max-width: 90%;
  margin: 0 auto;
  color: #c4c4c4;
}

.skill-card {
  /* background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5)); */
  border-color: #10101a;
}

/* .project-section {
  margin-bo;
} */

.project-header {
  font-size: 16.704px;
  text-transform: uppercase;
  /* letter-spacing: 3.17376px; */
  font-weight: 500;
  margin-bottom: 64px;
  /* text-align: right; */
  color: #fff;
}

.other-project-header,
.contact-header {
  font-size: 16.704px;
  text-transform: uppercase;
  /* letter-spacing: 3.17376px; */
  font-weight: 500;
  margin-bottom: 64px;
  /* text-align: left; */
  color: #fff;
}

.project-grid {
  width: 100%;
  /* max-width: var(--maxWidthL); */
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  color: #c4c4c4;
}

.other-project-grid {
  max-width: 80%;
  margin: 0 auto;
}

.project-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: 100%;
  min-width: 100%;

}

.project-summary {
  /* display: flex;
  justify-content: end; */
  text-align: right;
}

.project-summary-techwow {
  /* display: flex;
  justify-content: end; */
  text-align: left;
}

.project-one-img {
  max-width: 180%;
}


@media (min-width: 640px) {
  .project-one-img {
    max-width: 160%;
  }
}



.project-three-img {
  max-width: 120%;
}

.social-icon-container {
  max-width: 50%;
  margin: 0 auto;
}

.shopmaster-anim {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #f29e38, #ffcfdf);
  background-color: #fce5c8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techwow-anim {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #2da679, #ffcfdf);
  background-color: #fce5c8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moviehub-anim {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #7ec6f2, #ffcfdf);
  background-color: #fce5c8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backArrow {
  background-color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.other-project-card {
  /* width: 80%; */
  margin: 10rem auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, .5)), to(rgba(15, 15, 24, .5)));
  background: -webkit-linear-gradient(top, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  border: 0.10rem solid #20222e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-backdrop-filter: blur(54px);
  backdrop-filter: blur(54px);
  border-radius: 7.3rem;
  display: flex;
  align-items: center;
  padding: 6rem;
  position: relative; */
}

.stack-card {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, .5)), to(rgba(15, 15, 24, .5)));
  background: -webkit-linear-gradient(top, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
  border: 0.10rem solid #20222e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  height: 50px;
}

.syncfusion-logo {
  background-image: url(https://cdn.syncfusion.com/content/images/Logo/Logo_150dpi.png);
  background-size: 160px 36px;
  position: absolute;
  width: 160px;
  height: 36px;
}

.pl {
  padding-left: 168.640px;
}

/* ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
} */


/* .nestfund-color {
  color: #c4c4c4;
} */

/* a.project-details::after {
  content: "";
  position: absolute;
  background-color: #f29e38;
  height: 3px;
  width: 100%;
  left: 0;
} */

.c1 {
  left: 37rem;
}

.c2 {
  left: 29rem;
}

.c3 {
  left: 38rem;
  top: 6rem;
}

@media (min-width: 1024px) {
  .c1 {
    left: 37rem;
  }

  .c2 {
    left: 29rem;
  }

  .c3 {
    left: 38rem;
    top: 6rem;
  }
}

.circle-1,
.circle-2 {
  will-change: transform;
}

.circle-1 {
  -webkit-animation: circle-1-keyframes 13s ease-in-out infinite alternate;
  animation: circle-1-keyframes 13s ease-in-out infinite alternate;
}

.circle-2 {
  -webkit-animation: circle-2-keyframes 8s ease-in-out infinite alternate;
  animation: circle-2-keyframes 8s ease-in-out infinite alternate;
}

.circle-3 {
  will-change: transform;
  -webkit-animation: circle-3-keyframes 18s ease-in-out infinite alternate;
  animation: circle-3-keyframes 18s ease-in-out infinite alternate;
}

@-webkit-keyframes circle-1-keyframes {
  to {
    transform: translateX(200px) translateY(50px)
  }
}

@keyframes circle-1-keyframes {
  to {
    transform: translateX(200px) translateY(50px)
  }
}

@-webkit-keyframes circle-2-keyframes {
  to {
    transform: translateX(300px) translateY(-25px)
  }
}

@keyframes circle-2-keyframes {
  to {
    transform: translateX(300px) translateY(-25px)
  }
}

@-webkit-keyframes circle-3-keyframes {
  to {
    transform: translateX(250px) translateY(25px)
  }
}

@keyframes circle-3-keyframes {
  to {
    transform: translateX(250px) translateY(25px)
  }
}

.bg-secondary-50 {
  background-color: hsla(0, 0%, 7%, .5);
}

.border-tertiary {
  --tw-border-opacity: 1;
  border-color: rgb(34 34 34/ 1);
}

.name-gradient {
  background: -webkit-gradient(-135deg, #b0f3f1, #ffcfdf, #b0f3f1, #ffcfdf);
  background: linear-gradient(-45deg, #b0f3f1, #ffcfdf, #b0f3f1, #ffcfdf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

/* .name-gradient {
  color: #b0f3f1;
} */

.project-cta:hover,
.nav-gradient:hover {
  /* text-decoration: none;
    background-image: -webkit-linear-gradient(left,#be185d,#1d4ed8);
    background-image: -moz-linear-gradient(left,#be185d,#1d4ed8);
    background-image: -o-linear-gradient(left,#be185d,#1d4ed8);
    background-image: linear-gradient(to right,#be185d,#1d4ed8);
    background-repeat: no-repeat;
    background-position: bottom left;
    -webkit-background-size: 0%2px;
    -moz-background-size: 0%2px;
    -o-background-size: 0%2px;
    background-size: 0%2px;
    -webkit-transition: background-size 150ms ease-in-out;
    -moz-transition: background-size 150ms ease-in-out;
    -o-transition: background-size 150ms ease-in-out;
    transition: background-size 150ms ease-in-out; */
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
  background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
}